{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{% static 'css/crud_user.css' %}">
    <style>
        header .profile-avatar {
   display: flex;
   align-items: center;
   border: 2px solid #ffc107;
   border-radius: 50%;
   overflow: hidden;
   width: 50px;
   height: 50px;
   background-color: #495057;
   position: relative;
}

header .profile-avatar img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}
   </style>
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-nav">
            <header>
                <a href="{% url 'admin_panel' %}" class="brand-logo animate__animated animate__fadeInLeft">
                    <i class="fas fa-tshirt"></i> 
                    <span>PressPro admin Dashboard</span>
                </a>
                <div class="profile-avatar">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}'s Avatar" class="img-fluid">
                    {% else %}
                        <img src="{% static 'image/auth.jpeg' %}" alt="Default Avatar" class="img-fluid">
                    {% endif %}
                </div>
            </header>
            <nav class="dashboard-nav-list">
                <a href="{% url 'admin_panel' %}" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                <a href="{% url 'user_management' %}" class="dashboard-nav-item"><i class="fas fa-user-check"></i> User Management</a>
                <a href="{% url 'add_pressing' %}" class="dashboard-nav-item"><i class="fas fa-tools"></i> Platform Management</a>
                <a href="{% url 'edit_pressing_status' %}" class="dashboard-nav-item"><i class="fas fa-tools"></i> Edit pressing status</a>
                <a href="{% url 'analytics' %}" class="dashboard-nav-item"><i class="fas fa-chart-bar"></i> Analytics & Reporting</a>
                <a href="{% url 'chat' %}" class="dashboard-nav-item"><i class="fas fa-headset"></i> Chat with deliver</a>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-wallet"></i> Payment Management</a>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-handshake"></i> Partner Management</a>
                <a href="{% url 'marketing_promotions' %}" class="dashboard-nav-item"><i class="fas fa-bullhorn"></i> Marketing & Promotions</a>
                <a href="{% url 'marketing_promotions' %}" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings</a>
                <a href="{% url 'setting' %}" class="dashboard-nav-item"><i class="fas fa-info-circle"></i> About Us</a>
            </nav>
            <a href="{% url 'logout' %}" class="btn btn-primary logout-btn">Logout</a>
        </div>
        
        <!-- Main Content -->
        <div class="dashboard-app">
            <header class="dashboard-toolbar">
                <button class="menu-toggle"><i class="fas fa-bars"></i></button>
                <h3>User Management</h3>
            </header>
            <div class="dashboard-content">
                
                <!-- View/Edit Users Section -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5><i class="fas fa-users"></i> View/Edit Pressing</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Business name</th>
                                    <th>Location</th>
                                    <th>PAID</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pressing in pressings %}
                                <tr>
                                    <td>{{ pressing.id }}</td>
                                    <td>{{ pressing.business_name }}</td>
                                    <td>{{ pressing.location }}</td>
                                    {% if pressing.paid %}
                                    <td>YES</td>
                                    {% else %}
                                     <td>NO</td>
                                     {% endif %}
                                    <td>{{ pressing.email }}</td>
                                    <td>
                                        <a href="{% url 'edit_pressing_profile' pressing.id 'accepted' %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Accept</a>
                                        <a href="{% url 'edit_pressing_profile' pressing.id 'rejected' %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Reject</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>document.addEventListener("DOMContentLoaded", function() {
        const menuToggle = document.querySelector('.menu-toggle');
        const dashboardNav = document.querySelector('.dashboard-nav');
    
        menuToggle.addEventListener('click', function() {
            dashboardNav.classList.toggle('nav-open');
        });
    });
    </script>
</body>
</html>
